/* Universal Styles */

header {
    
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr, 1fr, auto, auto;
}

/* Navigation Bar */

.topbar {
    height: 4rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#logo {
    height: 4rem;
    width: auto;
    float: right;
    margin-right: 1rem;
}

.navbar {
    background-color: #b89e67;
    color: cornsilk;
    display: grid;
}

.navbar a {
    color: rgb(255, 233, 134);
    text-decoration: none;
}

.navbar a:hover {
    color: #fff;
}

.leftNav {
    display: flex;
    grid-column: 1 / 2;
}

.leftNav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.leftNav > ul > li {
    padding: .5rem;
}

.rightNav {
    grid-column: 2 / 3;
}

.rightNav > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1rem;
}

.rightNav > ul > li {
    padding: .5rem;
}

/* Banner */

#mainBanner {
    width: 100%;
    height: auto;
}

#bannerBlock {
    position: absolute;
    top: 30%;
    width: 35%;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 2rem;
    text-align: right;
}

/* Ammenities */

.ammenitiesContainer {
    display: grid;
    grid-template-rows: 2;
    grid-template-columns: 4;
    height: auto;
    margin: 2rem;
    border: 1px solid rgb(186, 185, 185);
    justify-content: space-around;
}

.ammenities1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 1rem;
    width: 300px;
}

.ammenities2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 1rem;
    width: 300px;
}

.ammenities3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    padding: 1rem;
    width: 300px;
}

.ammenities4 {
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    padding: 1rem;
    width: 300px;
}

.ammenities5 {
    grid-row: 2 / 2;
    grid-column: 2 / 3;
    padding: 1rem;
    width: 300px;
}

.ammenities6 {
    grid-row: 2 / 2;
    grid-column: 3 / 4;
    padding: 1rem;
    width: 300px;
}

.mainImages {
    width: 250px;
    height: 150px;
    width: 300px;
}





/* Footer */

footer {
    height: 5rem;
    background-color: #000;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    font-size: .8rem;
    line-height: .3rem;
    padding: 5rem;
}

.footerMenu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerMenu a {
    color: #fff;
    margin: 0 .5rem;
    text-decoration: none;
}

#copyright {
    color: #fff;
    text-align: center;
}